* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/mars.jpg);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn {
  padding: 0 2px;
  cursor: pointer;
  border: none;
  background: none;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: 90px;
}

.header__logo {
  font-size: 32px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo {
  width: 240px;
  margin: 10px;
  position: relative;
}

.img-size {
  width: 240px;
  height: 215px;
  cursor: pointer;
}


.photo__cover {
  box-shadow: 1px 1px 25px 2px rgb(152, 113, 5);
}

.photo__info {
  padding: 10px 0;
}

.photo__title {
  font-size: 13px;
  color: #fff;
}

.photo__category {
  font-size: 12px;
  color: orange;
  padding: 7px 0;
}

.photo__average {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 0;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(211, 68, 0, 0.5);
  color: #fff;
  font-size: 0.5em;
}

.photo__cover-inner{
  overflow: hidden;
}

.photo__cover-inner > img{
  transition: 1s; /* Время эффекта */
  display: block; /* Убираем небольшой отступ снизу */
}

.photo__cover-inner > img:hover{
  transform: scale(1.2);
}

.pagination {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.years__info {
  color: #000;
  font-size: 12px;
}

footer {
  height: 150px;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}